<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://172.16.254.126:18765/ReceptionSTG/ReceptionSTG"
                binding="basicHttpBinding" bindingConfiguration="ReceptionSTGPortBinding"
                contract="ReceptionSTG.ReceptionSTG" name="ReceptionSTGPort" />
        </client>
        <behaviors>
            <serviceBehaviors>
              <behavior name="metadata">
                <serviceMetadata httpGetEnabled="true" />
              </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BindingJEE">
                    <security>
                        <message algorithmSuite="Basic128" />
                    </security>
                </binding>
                <binding name="ReceptionSTGPortBinding" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcp">
                    <security mode="None">
                        <message algorithmSuite="Basic128" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
          <service name="Couche_middleware._04_Composant_server.Server" behaviorConfiguration="metadata">
            <host>
              <baseAddresses>
                <add baseAddress="http://172.16.254.146:8080/ServiceMetadata" />
              </baseAddresses>
            </host>
            <endpoint
                address="http://172.16.254.146:8018/MessageService"
                binding="basicHttpBinding"
                contract="Couche_middleware._04_Composant_server.IServer" />
            <endpoint
                address="net.tcp://172.16.254.146:8019/MessageServiceTCP"
                binding="netTcpBinding"
                bindingConfiguration="tcp"
                contract="Couche_middleware._04_Composant_server.IServer" />
          </service>
        </services>
    </system.serviceModel>
</configuration>