<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceCredentials>
                        <clientCertificate>
                            <certificate findValue="RootCATest" x509FindType="FindByIssuerName" />
                            <authentication certificateValidationMode="None" revocationMode="NoCheck" />
                        </clientCertificate>
                        <serviceCertificate findValue="RootCATest" x509FindType="FindByIssuerName" />
                        <userNameAuthentication userNamePasswordValidationMode="Windows" />
                        <windowsAuthentication allowAnonymousLogons="true" />
                        <peer>
                            <messageSenderAuthentication certificateValidationMode="None"
                                revocationMode="NoCheck" />
                        </peer>
                        <issuedTokenAuthentication audienceUriMode="Never" certificateValidationMode="None"
                            revocationMode="NoCheck" />
                    </serviceCredentials>
                    <serviceAuthorization principalPermissionMode="None" />
                    <serviceAuthenticationManager />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BindingJEE">
                    <security>
                        <message algorithmSuite="Basic128" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="BindingWCF">
                    <security mode="Message">
                        <transport clientCredentialType="None" protectionLevel="None" />
                        <message clientCredentialType="None" algorithmSuite="Basic128" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior" name="Couche_middleware._04_Composant_server.Server">
                <endpoint address="http://172.16.254.146:2000/SERVERWCF" binding="basicHttpBinding"
                    bindingConfiguration="BindingJEE" name="serviceWCF" contract="Couche_middleware._04_Composant_server.IServer" />
                <endpoint address="http://172.16.254.146:2001/SERVERWCF" binding="mexHttpBinding"
                    bindingConfiguration="" name="mexWCF" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>