<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceCredentials>
                        <serviceCertificate findValue="RootCATest" x509FindType="FindByIssuerName" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="BindingWCF">
                    <security mode="Message">
                        <transport clientCredentialType="None" protectionLevel="None" />
                        <message clientCredentialType="None" algorithmSuite="Basic128" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior" name="Couche_middleware.Server">
                <endpoint address="net.tcp://generator:2000/SERVERWCF" binding="netTcpBinding"
                    bindingConfiguration="BindingWCF" name="serviceWCF" contract="Couche_middleware.IServer" />
                <endpoint address="net.tcp://generator:2001/SERVERWCF" binding="mexTcpBinding"
                    bindingConfiguration="" name="mexWCF" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>