<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IcomposantService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IcomposantService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.254.126:8018/MessageService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IcomposantService"
                contract="Couche_middleware.IcomposantService" name="BasicHttpBinding_IcomposantService" />
            <endpoint address="net.tcp://172.16.254.126:8019/MessageServiceTCP"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IcomposantService"
                contract="Couche_middleware.IcomposantService" name="NetTcpBinding_IcomposantService" />
        </client>
    </system.serviceModel>
</configuration>